:root {
  --primary-color: #0d6efd;
}

body {
  margin: 50px;
  height: 100%;
}

.repo {
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
    transform: scale(1.03);
  }
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.badge {
  background: gray;
}

.search-input:focus {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}
